@font-face {
    font-family: "NanumGothic";
    src:local("NanumGothic-Regular"),
    url('./fonts/NanumGothic-Regular.ttf') 
}

* {
    font-family: "NanumGothic";
}

body {
    margin: 0;
    width: 100vw;
    height: 100vh;
}

#app {
    width: 100vw;
    height: 100vh;
}