/* 공유할 css class 작성 */

/* flex, grid 관련 클래스 */
.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.items-center {
    align-items: center;
}

.items-end {
    align-items: flex-end;
}

.content-between {
    justify-content: space-between;
}

.gap-10 {
    gap: 10px;
}

.gap-20 {
    gap: 20px;
}

/* padding */

/* margin */
.mb-xs {
    margin-bottom: 8px;
}
.mb-s {
    margin-bottom: 16px;
}
.mb-m {
    margin-bottom: 24px;
}
.mb-l {
    margin-bottom: 32px;
}
.mb-xl {
    margin-bottom: 48px;
}